* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../../images/background.jpeg);
  height: 20vh
}

@import url("http://fonts.cdnfonts.com/css/a-atmospheric");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.about-page-body {
  margin-left: 10vw;
  text-align: center;
}

.about-heading {
  /* ABOUT THE EVENT */

  position: absolute;
  width: 368px;
  height: 90px;
  left: 148px;
  top: 162px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 90px;
  /* identical to box height, or 225% */
  text-align: center;
  letter-spacing: 0.05em;

  color: #18ffff;
}

.about-para-1 {
  position: absolute;
  width: 740px;
  height: 234px;
  left: 541px;
  top: 300px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #bf00ff;
}
.about-para-2 {
  position: absolute;
  width: 740px;
  height: 234px;
  left: 177px;
  top: 636px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.05em;

  color: #bf00ff;
}

.aboutPageParaImg1 {
  position: absolute;
  width: 319px;
  height: 172px;
  left: 156px;
  top: 300px;
}
.aboutPageParaImg2 {
  position: absolute;
  width: 306px;
  height: 251px;
  left: 986px;
  top: 594px;
}

/* @media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
} */

@media only screen and (max-width: 576px) {
  .about-heading {
    /* ABOUT THE EVENT */

    position: absolute;
    width: 223px;
    height: 61px;
    left: 40px;
    top: 45px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 90px;
    /* or 409% */
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #18ffff;
  }

  .aboutPageParaImg1 {
    position: absolute;
    left: 50px;
    right: 30px;
    top: 100px;
    bottom: 20px;

    background: #3f3d56;
    
    position: absolute;
    width: 162.75px;
    height: 117px;
    left: 130px;
    top: 143px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .about-para-1 {
    position: absolute;
    width: 336px;
    height: 227px;
    left: 50px;
    top: 278px;
    
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;

    color: #bf00ff;
  }

  .aboutPageParaImg2 {
    position: absolute;
    width: 158px;
    height: 129px;
    left: 139px;
    top: 501px;
  }
  
  .about-para-2 {
    position: absolute;
    width: 336px;
    height: 227px;
    left: 51px;
    top: 639px;
    
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    
    color: #bf00ff;
  }
}
