.App {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  padding-left: 0px;
}

.time {
  font-size: 20px;
}
.Countdown{
  left: 500px
}