*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container{
  display: flex;
  justify-content: space-around;
  background: #0c2461;
}

.dashboard-left {
  flex: 20%;
}

.dashboard-center {
  flex: 55%;
}

.dashboard-right {
  flex: 25%;
}