*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container{
  display: flex;
  justify-content: space-around;
  background: #0b2159;
}

.dashboard-left {
  flex: 15%;
}

.dashboard-center {
  flex: 85%;
}


.neo-button {
  width: 170px;
height: 70px;
margin: 300px 600px;
font-size: 40px;
border-radius: 80px;
border-style: none;
color: white;
font-weight: 400;
background: #045cb5;
box-shadow: 5px 5px 10px #de9db0,
-5px -5px 10px #ffcde4;
}


.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: -8px -8px 15px rgba(255,255,255,.7),
              10px 10px 10px rgba(0,0,0, .3),
              inset 8px 8px 15px rgba(255,255,255,.7),
              inset 10px 10px 10px rgba(0,0,0, .3);
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  width: 150px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255,255,255,.6),
              inset 10px 10px 10px rgba(0,0,0, .25);
  
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: 'OFF';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px rgba(0,0,0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px #00b33c;
}

.team-btn{
  font-size:12px !important;
  padding:8px 2px !important;
}

.rule-m{
  color: white;
}
.css-102x5yh-TimelineItemContentWrapper{
  min-height: 0px !important;
}
.prof-h{
  font-size: 25px;
}

