.dashboard-left {
  /* background-image: linear-gradient(to bottom, #051937, #00182e, #001624, #00121b, #020d11); */
  background-color: rgba(0, 0, 0, 0);
  /* background-image: linear-gradient(to bottom, #051937, #162a6b, #47369e, #8736ca, #d212eb); */
}

input[type="text"],
input[type="text"]:focus   
{
         background: transparent;
         /* border: none; */
         outline: none;
         color:#ffffff
}
form,label{
  color:#ffffff
}

.icon{
  margin-right: 1rem;
  font-size: 2rem;
  color: rgba(24, 255, 255, 0.8);
}

.rs-modal-title{
  color: #fff
}

.rs-modal-content{

  background-image: linear-gradient(to bottom, #051937, #10142f, #151027, #170a1f, #160518);
}


.icon:hover {
  color: #18FFFF;
  transform: scale(1.2)
}
.rules-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

/* .dashboard-page-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.dashboard-page-buttons a {
  text-decoration: none;
  text-align: center;
} */

.dashboard-page-buttons div {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  color: rgba(24, 255, 255, 0.8);
  background: #010031;
  box-shadow: 1px 1px 20px rgba(24, 255, 255, 0.5);
  border-radius: 15px;
  width: 100px;
  height: 40px;
  transition: 200ms;
}

.dashboard-page-buttons div:hover {
  color: #18ffff;
}

.home-page-image {
  border-radius: 50%;
  position: absolute;
  width: 750px;
  height: 750px;
  left: -110px;
  top: -110px;
  filter: drop-shadow(2px 5px 100px rgba(27, 245, 255, 0.35));
}

.nav-item{
  padding: 20px;
}