@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: rgba(24, 255, 255, 1);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.05em;
    text-align: left;
    width: 368px;
    height: 90px;
    /* left: 148px;
    top: 162px; */
}



label {
    color: rgba(191, 0, 255, 1);
    /* height: 38px;
    width: 198px;
    left: 214px;
    top: 239px; */
    border-radius: nullpx;

    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-align: right;


}

input {

    /* position: absolute; */
    width: 833px;
    height: 50px;

    border: 0;
    background: transparent;
    border-bottom: 2.5px solid #BF00FF;
    color: white;
    font-size: 30px;
    caret-color: aliceblue;
    cursor: pointer;
}

input:focus {
    outline: none !important;
    border-color: white;


}

button {
    position: absolute;
    width: 252px;
    height: 58.22px;
    left: 594px;
    top: 634px;

    background: #010031;
    box-shadow: 1px 1px 35px 3px rgba(24, 255, 255, 0.35);
    border-radius: 58.5px;



    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 34px;

    color: rgba(24, 255, 255, 0.6);

}