* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: clip; */
}


body {
  background: #010031;
  height: 1024px;
  /* overflow-y: clip; */
}

.home-page-body .exodus-image {
  z-index: 1;
}

/* home page body */

@import url('http://fonts.cdnfonts.com/css/a-atmospheric');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.home-page-body{
  margin-left: 50vw;
  text-align: center;
  margin-top: -50px;
}

.exodus-logo {
  font-family: 'a Atmospheric', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #BF00FF;
}

.tag-line {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.05em;
  color: silver;
  margin-top: 25px;
}

.home-page-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.home-page-buttons a {
  text-decoration: none;
  text-align: center;
}

.home-page-buttons div {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 72px;
  text-align: center;
  color: rgba(24, 255, 255, 0.8);
  background: #010031;
  border-radius: 15px;
  width: 175px;
  height: 72px;
  transition: 200ms;
}

.home-page-buttons div:hover {
  color: #18FFFF;
}

.exodus-image {
  border-radius: 50%;
  position: absolute;
  width: 750px;
  height: 750px;
  left: -110px;
  top: -110px;
  filter: drop-shadow(2px 5px 100px rgba(27, 245, 255,0.35));
}

.timer {
  margin-top: -40px;
  position: relative;
}

.timer-circles, .timer-colons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.dhms {
  margin-top: 160px;
}

/* /////////////////////////////////////////////////// */


.night {
  position: relative;
  z-index: -1;
  overflow:hidden;
  margin-top: -1250px;
  width: 100%;
  height: 95vw;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(270deg, #18FFFF 0.01%, #1BF5FF 0.72%, #25DAFF 1.91%, #33AFFF 3.46%, #4873FF 5.28%, #6227FF 7.33%, #651FFF 7.54%, #D500F9 15.31%, rgba(0, 0, 0, 0) 100%);
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: #18FFFF;
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  /* top: calc(-50% - -119px); */
  top: 5%;
  left: calc(50% - 43px);
  -webkit-animation-delay: 4796ms;
          animation-delay: 4796ms;
}
.shooting_star:nth-child(1)::before, 
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 4796ms;
          animation-delay: 4796ms;
}
.shooting_star:nth-child(2) {
  /* top: calc(50% - -43px); */
  top: 10%;
  left: calc(50% - 37px);
  -webkit-animation-delay: 5944ms;
          animation-delay: 5944ms;
}
.shooting_star:nth-child(2)::before, 
.shooting_star:nth-child(2)::after{
  -webkit-animation-delay: 5944ms;
          animation-delay: 5944ms;
}
.shooting_star:nth-child(3) {
  /* top: calc(50% - -40px); */
  top: 15%;
  left: calc(50% - 222px);
  -webkit-animation-delay: 7556ms;
          animation-delay: 7556ms;
}
.shooting_star:nth-child(3)::before, 
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 7556ms;
          animation-delay: 7556ms;
}
.shooting_star:nth-child(4) {
  /* top: calc(50% - -29px); */
  top: 20%;
  left: calc(50% - 113px);
  -webkit-animation-delay: 7123ms;
          animation-delay: 7123ms;
}
.shooting_star:nth-child(4)::before, 
.shooting_star:nth-child(4)::after{
  -webkit-animation-delay: 7123ms;
          animation-delay: 7123ms;
}
.shooting_star:nth-child(5) {
  /* top: calc(50% - 146px); */
  top: 25%;
  left: calc(50% - 112px);
  -webkit-animation-delay: 3629ms;
          animation-delay: 3629ms;
}
.shooting_star:nth-child(5)::before, 
.shooting_star:nth-child(5)::after{
  -webkit-animation-delay: 3629ms;
          animation-delay: 3629ms;
}
.shooting_star:nth-child(6) {
  /* top: calc(50% - -108px); */
  top: 30%;
  left: calc(50% - 160px);
  -webkit-animation-delay: 3895ms;
          animation-delay: 3895ms;
}
.shooting_star:nth-child(6)::before, 
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 3895ms;
          animation-delay: 3895ms;
}
.shooting_star:nth-child(7) {
  /* top: calc(50% - 52px); */
  top: 35%;
  left: calc(50% - 72px);
  -webkit-animation-delay: 7326ms;
          animation-delay: 7326ms;
}
.shooting_star:nth-child(7)::before, 
.shooting_star:nth-child(7)::after{
  -webkit-animation-delay: 7326ms;
          animation-delay: 7326ms;
}
.shooting_star:nth-child(8) {
  /* top: calc(50% - 55px); */
  top: 40%;
  left: calc(50% - 282px);
  -webkit-animation-delay: 956ms;
          animation-delay: 956ms;
}
.shooting_star:nth-child(8)::before, 
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 956ms;
          animation-delay: 956ms;
}
.shooting_star:nth-child(9) {
  /* top: calc(50% - 129px); */
  top: 45%;
  left: calc(50% - 296px);
  -webkit-animation-delay: 5030ms;
          animation-delay: 5030ms;
}
.shooting_star:nth-child(9)::before, 
.shooting_star:nth-child(9)::after{
  -webkit-animation-delay: 5030ms;
          animation-delay: 5030ms;
}
.shooting_star:nth-child(10) {
  /* top: calc(50% - 131px); */
  top: 50%;
  left: calc(50% - 249px);
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}
.shooting_star:nth-child(10)::before, 
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}
.shooting_star:nth-child(11) {
  /* top: calc(50% - 32px); */
  top: 55%;
  left: calc(50% - 13px);
  -webkit-animation-delay: 157ms;
          animation-delay: 157ms;
}
.shooting_star:nth-child(11)::before, 
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 157ms;
          animation-delay: 157ms;
}
.shooting_star:nth-child(12) {
  /* top: calc(50% - -57px); */
  top: 60%;
  left: calc(50% - 165px);
  -webkit-animation-delay: 3364ms;
          animation-delay: 3364ms;
}
.shooting_star:nth-child(12)::before, 
.shooting_star:nth-child(12)::after{
  -webkit-animation-delay: 3364ms;
          animation-delay: 3364ms;
}
.shooting_star:nth-child(13) {
  /* top: calc(50% - 189px); */
  top: 65%;
  left: calc(50% - 213px);
  -webkit-animation-delay: 6822ms;
          animation-delay: 6822ms;
}
.shooting_star:nth-child(13)::before, 
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 6822ms;
          animation-delay: 6822ms;
}
.shooting_star:nth-child(14) {
  /* top: calc(50% - -104px); */
  top: 70%;
  left: calc(50% - 163px);
  -webkit-animation-delay: 9347ms;
          animation-delay: 9347ms;
}
.shooting_star:nth-child(14)::before, 
.shooting_star:nth-child(14)::after{
  -webkit-animation-delay: 9347ms;
          animation-delay: 9347ms;
}
.shooting_star:nth-child(15) {
  /* top: calc(50% - -75px); */
  top: 75%;
  left: calc(50% - 234px);
  -webkit-animation-delay: 4661ms;
          animation-delay: 4661ms;
}
.shooting_star:nth-child(15)::before, 
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 4661ms;
          animation-delay: 4661ms;
}
.shooting_star:nth-child(16) {
  /* top: calc(50% - 176px); */
  top: 80%;
  left: calc(50% - 51px);
  -webkit-animation-delay: 6650ms;
          animation-delay: 6650ms;
}
.shooting_star:nth-child(16)::before, 
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 6650ms;
          animation-delay: 6650ms;
}
.shooting_star:nth-child(17) {
  /* top: calc(50% - -127px); */
  top: 85%;
  left: calc(50% - 171px);
  -webkit-animation-delay: 3855ms;
          animation-delay: 3855ms;
}
.shooting_star:nth-child(17)::before, 
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 3855ms;
          animation-delay: 3855ms;
}
.shooting_star:nth-child(18) {
  /* top: calc(50% - -130px); */
  top: 90%;
  left: calc(50% - 295px);
  -webkit-animation-delay: 6509ms;
          animation-delay: 6509ms;
}
.shooting_star:nth-child(18)::before, 
.shooting_star:nth-child(18)::after{
  -webkit-animation-delay: 6509ms;
          animation-delay: 6509ms;
}
.shooting_star:nth-child(19) {
  /* top: calc(50% - -108px); */
  top: 95%;
  left: calc(50% - 209px);
  -webkit-animation-delay: 1403ms;
          animation-delay: 1403ms;
}
.shooting_star:nth-child(19)::before, 
.shooting_star:nth-child(19)::after{
  -webkit-animation-delay: 1403ms;
          animation-delay: 1403ms;
}
.shooting_star:nth-child(20) {
  /* top: calc(50% - -19px); */
  top: 100%;
  left: calc(50% - 9px);
  -webkit-animation-delay: 5083ms;
          animation-delay: 5083ms;
}
.shooting_star:nth-child(20)::before, 
.shooting_star:nth-child(20)::after{
  -webkit-animation-delay: 5083ms;
          animation-delay: 5083ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 5px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
  

/* /////////////////////////////////////////////////// */


@media only screen and (max-width: 1200px) {

  .exodus-logo {
    font-size: 55px;
    line-height: 90px;
    color: #BF00FF;
  }

  .exodus-image {
    width: 600px;
    height: 600px;
    left: -87px;
    top: -87px;
  }

  .tag-line {
    font-size: 30px;
    z-index: 1;
  }

  .home-page-buttons div {
    font-size: 21px;
    line-height: 50px;
    border-radius: 13px;
    width: 140px;
    height: 50px;
  }

}

@media only screen and (max-width: 992px) {

  .exodus-logo {
    font-size: 28px;
    line-height: 50px;
    color: #BF00FF;
  }

  .exodus-image {
    width: 400px;
    height: 400px;
    left: -57px;
    top: -57px;
  }

  .tag-line {
    font-size: 20px;
    margin-top: 15px;
  }

  .home-page-buttons div {
    font-size: 21px;
    line-height: 50px;
    border-radius: 13px;
    width: 140px;
    height: 50px;
  }

  .home-page-buttons div {
    font-size: 12px;
    line-height: 25px;
    border-radius: 8px;
    width: 80px;
    height: 25px;
    margin: 8px;
  }

  .home-page-buttons {
    margin-top: -10px;
  }

  .timer-circles{
    width: 250px;
  }

  .timer-colons {
    width: 145px;
  }

  .dhms{
    width: 217px;
    margin-top: 80px;
  }

}

@media only screen and (max-width: 576px) {

  body {
    height: 150vh !important;
  }

  .exodus-image{
    position: absolute;
    width: 450px;
    height: 450px;
    left: -100px;
    top: 30px;
    z-index: 1 !important;
  }

  .home-page-body{
    margin-left: 0;
  }

  .exodus-logo {
    display: none;
  }

  .tag-line {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 10px;
    margin-top: 440px;
  }

  .timer-circles{
    width: 272px;
    height: 50px;
  }

  .timer-colons {
    width: 155px;
  }

  .dhms{
    width: 240px;
    height: 33px;
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .home-page-buttons {
    flex-direction: column;
  }

  .home-page-buttons div {
    width: 150px;
    height: 60px;
    border-radius: 15px;
    font-size: 22px;
    line-height: 60px;
    margin: 20px auto;
  }

}

/*Animation*/


@import url("https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap");

:root {
--src: url('../../images/home-page-image.jpeg');
--overlay-color: rgb(191, 0, 255);
border-radius: 15px;
--size: 80vmin;
--space: 8vmin;
--duration: 300ms;
--ease-out: cubic-bezier(0.25, 1, 0.5, 1);
--bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.promo {
position: relative;
cursor: pointer;
width: var(--size);
/* height: 150vh; */
--overlay-color: hotpink;
margin-top: -460px;
margin-left: 55px;
border-radius: 100px;
}

.image-wrapper {
width: var(--size);
height: var(--size);
/* overflow: hidden; */
clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
transition: transform var(--duration) var(--ease-out),
clip-path var(--duration) var(--ease-out);
 } 

.image-wrapper img {
position: relative;
width: 120%;
height: 100%;
object-fit: cover;
transform: translateX(-10%);
transition: transform var(--duration) var(--ease-out);
}  

.image-wrapper::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-color: var(--overlay-color);
mix-blend-mode: multiply;
opacity: 0;
transform: translateZ(0);
transition: opacity var(--duration) var(--ease-out);
}


.promo:hover img {
transform: translateX(0);
}

.promo:hover .image-wrapper {
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
transform: translateX(25%);
transition-timing-function: var(--bounce-out);
}


.promo:hover .image-wrapper::after {
opacity: 1;
}



/*Button Registration*/


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.button-register{
  box-shadow: 0;
	width: 210px;
	height: 53px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
}

.button-register:before {
	content: 'Register';
	color: rgba(255,255,255,0.5);
	font-size: 19px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 185px;
	height: 40px;
	background-color: #1b2845;
	transition: 500ms;
  border-radius: 5px;
}

.button-register:hover {
	background-position: right;
}

.button-register:hover:before {
	color: rgba(255,255,255,0.8);
}

.button-register:focus {
	outline: none;
}

.button-verify{
  box-shadow: 0;
	width: 210px;
	height: 53px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
}
.button-verify:before{
  content: 'Verify';
	color: rgba(255,255,255,0.5);
	font-size: 19px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 185px;
	height: 40px;
	background-color: #1b2845;
	transition: 500ms;
  border-radius: 5px;
}
.button-verify:hover {
	background-position: right;
}

.button-verify:hover:before {
	color: rgba(255,255,255,0.8);
}

.button-verify:focus {
	outline: none;
}



/*Font*/

.text-div {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 4px;
    /* overflow: hidden; */
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  @media only screen and (max-width: 600px) {
    .text-div{
      position: relative;
      top:50px;
    }
    .image-wrapper{
      position: relative;
      top:-130px;
      left:-25px;
      overflow: hidden;
    }
    .image-wrapper:after{
      position: relative;
    }
    /* .night{
      margin-top: -80px;
    } */
  }
