* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../../images/background.jpeg);
    height: 1024px;
}


/* Submission page css */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
    /* background:#2d3b36 url(http://andstud.io/wp-content/uploads/2014/03/blurrrr2.jpg)no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 0px;
}

.submission-bg {
    background: white;
    min-height: 80vh;
    width: 70%;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
}

.left-submission-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    text-align: left;
}

.right-submission-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    border-radius: 2rem;
}

.heading {
    color: #2C0059;
    font-size: 4.5em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    text-align: left;
    /* margin-left: -.8em; */
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

.submission-form-label {
    color: black;
    font-weight: 600;
}

.submission-form-input {
    margin-bottom: 2em;
    width: 100%;
    background: #ede4f3;
    color: #575757;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .25rem .5rem .5rem 0.8rem;
}

.submission-form-btn {
    background-color: #3E006A;
    font-size: 1rem;
    color: white;
    padding: 1em 4em 1em 4em;
    text-decoration: none;
    align-self: center;
    border-radius: 2em;
    cursor: pointer;
    border: 2px solid white;
}

.submission-form-btn:focus,
.submission-form-btn:hover {
    color: #2C0059;
    background-color: white;
    border: 2px solid #2C0059;
}

.submission-social {
    font-size: 3em;
    padding: 10px;
    color: #2C0059;
}